<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Privacy</title>
  <link href="style.css" rel="stylesheet" type="text/css"/>
  <link href="css/tandc.css" rel="stylesheet" type="text/css"/>
  <link rel="shortcut icon" type="image/x-icon" href="assets/logo.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <!-- ======= Top Bar ======= -->
  <section id="topbar">
       <!--translate-->
    <div class="contact-info d-flex align-items-center">
      <a href="mailto:neelaayush.gov@gmail.com"><i class="fa fa-envelope-o fa-lg" aria-hidden="true"><span
            translate="no"> neelayush.gov@gmail.com</span></i></a>
      <a><i class="fa fa-mobile fa-lg" aria-hidden="true"><span translate="no"> 011 2347 3349</span></i></a>
      <a href="#googtrans(en|en)" class="lang-es lang-select" data-lang="en"><i class="fa fa-language fa-lg" aria-hidden="true"><span
            translate="no"> English</span></i></a>
      <!--translate-->
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="https://twitter.com/LabourMinistry"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/LabourMinistry"><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/company/ministry-of-labour-employment-government-of-india"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/labourministry"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
      </div>
  </section>
<!-- ======= Top Bar End ======= -->
 <!-- ======= Header ======= -->
 <header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <h1 class="logo"><a href="{% url 'home' %}">Neel Aayush<span>.Gov</span></a></h1>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto " href="{% url 'home' %}">Home</a></li>
        <li class="dropdown"><a href="{% url 'complaint' %}"><span>Register Complaint</span> </a>
        <li><a class="nav-link scrollto active " href="{% url 'about' %}">Privacy</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->
<body>
<div class="topic">
  <h1>Privacy & <span style="color: #C881FF;">Policy</span></h1>
  <hr>
 <p>At Neel Aayush, accessible from Neel Aayush.com, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by Neel Aayush and how we use it.</p>

<p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>

<p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in Neel Aayush. This policy is not applicable to any information collected offline or via channels other than this website. Our Privacy Policy was created with the help of the Free Privacy Policy Generator.</p>

<p>Consent
By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>

<p>Information we collect
The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.</p>

<p>If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.</p>

<p>When you register for an Account, we may ask for your contact information, including items such as name, company name, address, email address, and telephone number.</p>

<p>How we use your information
We use the information we collect in various ways, including to:</p>

<p>Provide, operate, and maintain our website<br/>
Improve, personalize, and expand our website<br/>
Understand and analyze how you use our website<br/>
Develop new products, services, features, and functionality<br/>
Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the website, and for marketing and promotional purposes<br/>
Send you emails<br/>
Find and prevent fraud<br/>
Log Files<br/>
Neel Aayush follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.</p>

<p>Cookies and Web Beacons
Like any other website, Neel Aayush uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.</p>

<p>Advertising Partners Privacy Policies
You may consult this list to find the Privacy Policy for each of the advertising partners of Neel Aayush.</p>

<p>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on Neel Aayush, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</p>

<p>Note that Neel Aayush has no access to or control over these cookies that are used by third-party advertisers.</p>

<p>Third Party Privacy Policies
Neel Aayush's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options.</p>

<p>You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites.</p>

<p>CCPA Privacy Rights (Do Not Sell My Personal Information)
Under the CCPA, among other rights, California consumers have the right to:</p>

<p>Request that a business that collects a consumer's personal data disclose the categories and specific pieces of personal data that a business has collected about consumers.</p>

<p>Request that a business delete any personal data about the consumer that a business has collected.</p>

<p>Request that a business that sells a consumer's personal data, not sell the consumer's personal data.</p>

<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>

<p>GDPR Data Protection Rights
We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>

<p>The right to access – You have the right to request copies of your personal data. We may charge you a small fee for this service.</p>

<p>The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.</p>

<p>The right to erasure – You have the right to request that we erase your personal data, under certain conditions.</p>

<p>The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.</p>

<p>The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.</p>

<p>The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</p>

<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>
  <a href="#" target="_blank"><button>File a complaint</button></a>
</div>
  <hr>
<!-- Terms and conditions -->
<div class="tc">
  <h2>Terms and Condition</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis morbi vel, porta nisl, molestie est. Phasellus adipiscing lobortis amet egestas eget diam leo. Duis quis cursus at dui enim proin at scelerisque diam.</p>
</div>
<!-- Footer -->
<footer>
  <a href="{% url 'support' %}" target="_blank">Support</a>
  <a>© 2022 AAYUSH . All rights reserved</a>
  <a href="{% url 'privacy' %}" target="_blank">Privacy Policy</a>
</footer>
  
</body>
  <!--translate-->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">

  function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT}, 'google_translate_element');
  }

  function triggerHtmlEvent(element, eventName) {
    var event;
    if (document.createEvent) {
      event = document.createEvent('HTMLEvents');
      event.initEvent(eventName, true, true);
      element.dispatchEvent(event);
    } else {
      event = document.createEventObject();
      event.eventType = eventName;
      element.fireEvent('on' + event.eventType, event);
    }
  }
  jQuery('.lang-select').click(function () {
    var theLang = jQuery(this).attr('data-lang');
    jQuery('.goog-te-combo').val(theLang);

    window.location = jQuery(this).attr('href');
    location.reload();
  });
</script>
<script type="text/javascript"
  src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<!--translate-->

</html>