<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Support</title>
  <link href="{% static 'styles/stlyes' %}" rel="stylesheet" type="text/css"/>
  <link href="{% static 'styles/tandc' %}" rel="stylesheet" type="text/css"/>
  <link rel="shortcut icon" type="image/x-icon" href="assets/logo.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
     <!-- ======= Top Bar ======= -->
  <section id="topbar">
    <!--translate-->
    <div class="contact-info d-flex align-items-center">
      <a href="mailto:neelaayush.gov@gmail.com"><i class="fa fa-envelope-o fa-lg" aria-hidden="true"><span
            translate="no"> neelayush.gov@gmail.com</span></i></a>
      <a><i class="fa fa-mobile fa-lg" aria-hidden="true"><span translate="no"> 011 2347 3349</span></i></a>
      <a href="#googtrans(en|en)" class="lang-es lang-select" data-lang="en"><i class="fa fa-language fa-lg" aria-hidden="true"><span
            translate="no"> English</span></i></a>
      <!--translate-->
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="https://twitter.com/LabourMinistry"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/LabourMinistry"><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/company/ministry-of-labour-employment-government-of-india"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/labourministry"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
      </div>
  </section>
<!-- ======= Top Bar End ======= -->
 <!-- ======= Header ======= -->
 <header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <h1 class="logo"><a href="{% url 'home' %}">Neel Aayush<span>.Gov</span></a></h1>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto " href="{% url 'home' %}">Home</a></li>
        <li class="dropdown"><a href="{% url 'complaint' %}"><span>Register Complaint</span> </a>
        <li><a class="nav-link scrollto active " href="{% url 'about' %}">Support</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->
<body>
<div class="topic">
  <h1 style="color: orange;">Support</h1>
  <hr>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. At viverra lacus vitae a molestie turpis. Amet neque turpis sit nunc, ut varius praesent fermentum vel. Tincidunt ac duis ultricies nisi nam enim, dictum. Eget nunc, sagittis sagittis vulputate nunc hendrerit augue suscipit neque. Nullam eget et, rhoncus vehicula purus dictum.</p>

<p>Euismod tristique amet, fringilla nunc, elit. Quam vitae at blandit lacus blandit scelerisque. Sed vulputate turpis a, nunc, nullam malesuada. Dolor mi aliquet sed pharetra ullamcorper. Enim erat venenatis amet consectetur amet, vel viverra quam turpis.</p> 

<p>>Dignissim rhoncus turpis ut in. Platea volutpat lorem ultricies vulputate. Urna gravida quis turpis pulvinar amet, rhoncus. Tortor amet in scelerisque vitae pellentesque felis</p>

<p>Nunc vel id tortor eget sit. Ut donec consequat aliquam odio quam sem amet rhoncus risus. Dignissim tortor tempor mattis augue nulla orci tortor elit. In eget vel pellentesque dictum sem ut sapien, aliquet. Consectetur mattis faucibus eleifend mi placerat. </p>

<p>Consequat nibh diam tempus vel nec varius libero suspendisse elementum. In platea sit velit turpis magnis nam mi. Etiam nulla sed porta turpis ut aliquam quis. Tristique vitae, posuere varius sit vulputate aliquet et. Faucibus enim justo mattis id nec. Nec mi nulla nunc, gravida vestibulum quam tellus sapien erat.</p>

<p>Eleifend rutrum eleifend ultricies egestas interdum. Sollicitudin habitant mauris, mattis a, placerat venenatis, varius. Habitant risus, eu sed ac. Sagittis lacus in libero ornare viverra diam. </p>

<p>Adipiscing mollis dignissim aliquam, pellentesque eu. Praesent proin ultricies in sit amet tellus in duis mollis. Odio scelerisque condimentum quis condimentum velit, vel eget enim tellus. Enim libero sagittis consectetur a venenatis enim gravida. Tristique quam porttitor mollis interdum sit maecenas cras nam quisque. </p>

<p>m, semper libero et aliquam. Nunc dignissim at tempus purus magna in duis placerat lacus.
Placerat purus tristique elit et lacus non at vestibulum. Turpis.</p>

  <a href="#" target="_blank"><button>File a complaint</button></a>
</div>
  <hr>
<!-- Terms and conditions -->
<div class="tc">
  <h2>Terms and Condition</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis morbi vel, porta nisl, molestie est. Phasellus adipiscing lobortis amet egestas eget diam leo. Duis quis cursus at dui enim proin at scelerisque diam.</p>
</div>
<!-- Footer -->
<footer>
  <a href="{% url 'support' %}" target="_blank">Support</a>
  <a target="_blank">© 2022 AAYUSH . All rights reserved</a>
  <a href="{% url 'privacy' %}" target="_blank">Privacy Policy</a>
</footer>
  
</body>
    <!--translate-->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">

  function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT}, 'google_translate_element');
  }

  function triggerHtmlEvent(element, eventName) {
    var event;
    if (document.createEvent) {
      event = document.createEvent('HTMLEvents');
      event.initEvent(eventName, true, true);
      element.dispatchEvent(event);
    } else {
      event = document.createEventObject();
      event.eventType = eventName;
      element.fireEvent('on' + event.eventType, event);
    }
  }
  jQuery('.lang-select').click(function () {
    var theLang = jQuery(this).attr('data-lang');
    jQuery('.goog-te-combo').val(theLang);

    window.location = jQuery(this).attr('href');
    location.reload();
  });
</script>
</html>