<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Neel Aayush</title>
  <link href="css/table.css" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" type="image/x-icon" href="assets/logo.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
</style>
<body>
<table class="table" id="nodalList">
                            <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>Ministry/Department/Organisation</th>
                                <th>Nodal Public Grievance Officer Name and Designation</th>
                                <th>Address</th>
                                <th>Phone No/Fax/Email</th>
                            </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>1</td>
                                    <td>Administrative Reforms and Public Grievances - PG Division</td>
                                    <td>Satish Kerba Jadhav<br />Director</td>
                                    <td>5th Floor, Sardar Patel Bhawan, New Delhi</td>
                                    <td>01123743030    <br />dirpg-arpg[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Agriculture and Farmers Welfare</td>
                                    <td>A. K. Sinha<br />Deputy Secretary PG</td>
                                    <td></td>
                                    <td>01123070342    <br />ak.sinha66[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Agriculture Research and Education</td>
                                    <td>Khamkhan Paova Guite<br />Director</td>
                                    <td></td>
                                    <td>01123046678    <br />kk.guite[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Animal Husbandry, Dairying</td>
                                    <td>Shri G.N. Singh<br />Joint Secretary GC</td>
                                    <td></td>
                                    <td>01123389620    <br />gn.singh13[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Atomic Energy</td>
                                    <td>Shri E. Ravendiran IAS<br />Director - Secretariat Coordination Secion</td>
                                    <td></td>
                                    <td>02222022174    <br />diradmn[at]dae.gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Ayush</td>
                                    <td>Dhirendra Kumar<br />Director</td>
                                    <td></td>
                                    <td>01124651644    <br />dhirendra.k[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Bio Technology</td>
                                    <td>Banumathi G<br />DS - PGRC</td>
                                    <td></td>
                                    <td>01124361813    <br />banumathi.g[at]dbt.nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Central Board of Direct Taxes (Income Tax)</td>
                                    <td>Neha Chaudhary<br />Addl. Director E-Services</td>
                                    <td></td>
                                    <td>01123416133    <br />delhi.dittps2[at]incometax.gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>Central Board of Excise and Customs</td>
                                    <td>Shri Anuj Kumar Pandey<br />Joint Director</td>
                                    <td>Directorate General of Taxpayer Services, Room no  168, Ist Floor,  Central Revenue Building, I.P. Es tate, New Delhi</td>
                                    <td>01123705893    <br />Anujk.pandey[at]gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>Chemicals and Petrochemicals</td>
                                    <td>Shri Narender Kumar Santoshi<br />Deputy Director General</td>
                                    <td></td>
                                    <td>01123386752    <br />nk.santoshi[at]gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>Civil Aviation</td>
                                    <td>Shri Pranjol Chandra<br />Director and PGO</td>
                                    <td></td>
                                    <td>01124649891    <br />pgnodalofficer-moca[at]gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>Coal</td>
                                    <td>Shri Animesh Bharti<br />Economic Adviser</td>
                                    <td>Ministry of Coal, 5th Floor , Lok Nayak Bhawan, Khan Market. New Delhi</td>
                                    <td>24655949       <br />adviser.moc[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>13</td>
                                    <td>Commerce</td>
                                    <td>Ms. Nidhi Mani Tripathi<br />Joint Secretary PG</td>
                                    <td></td>
                                    <td>01123061971    <br />jspg-doc[at]gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>14</td>
                                    <td>Consumer Affairs</td>
                                    <td>Dr. Rajeshwar Kumar<br />Director</td>
                                    <td></td>
                                    <td>01123389936    <br />rajeshwar.kumar67[at]gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>15</td>
                                    <td>Cooperation</td>
                                    <td>Shri Sheker Bose<br />Under Secretary</td>
                                    <td>Delhi Delhi Delhi</td>
                                    <td>01123387926    <br />sheker.bose[at]gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>16</td>
                                    <td>Corporate Affairs</td>
                                    <td>K. LAKSHMI PRASAD<br />Joint Director</td>
                                    <td></td>
                                    <td>01123721226    <br />klp.prasad[at]mca.gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>17</td>
                                    <td>Culture</td>
                                    <td>Arun Kumar<br />Deputy Secretary</td>
                                    <td></td>
                                    <td>01123380136    <br />arit-culture[at]gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>18</td>
                                    <td>Defence</td>
                                    <td>Shri D. K. Rai<br />JS MIS</td>
                                    <td></td>
                                    <td>01123017828    <br />usdpg-mod[at]gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>19</td>
                                    <td>Defence Finance</td>
                                    <td>Shri Vedveer Arya<br />Addl. Financial Advisor and Joint Secretary</td>
                                    <td></td>
                                    <td>01123010159    <br />vedveerarya.dad[at]hub[dot]nic</td>
                                </tr>
                                <tr>
                                    <td>20</td>
                                    <td>Defence Production</td>
                                    <td>Shri Gaurav Sharma<br />Deputy Secretary Coord DDP</td>
                                    <td></td>
                                    <td>01123013705    <br />gauravsharma-cwc[at]gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>21</td>
                                    <td>Defence Research and Development</td>
                                    <td>Dr. Sanjai Kumar Dwivedi<br />Sc G and Director Personnel</td>
                                    <td></td>
                                    <td>01123007218    <br />dte_pers[at]hqr.drdo[dot]in</td>
                                </tr>
                                <tr>
                                    <td>22</td>
                                    <td>Development of North Eastern Region</td>
                                    <td>V. K. Balyan<br />Deputy Secretary</td>
                                    <td></td>
                                    <td>01123794694    <br />vk.balayan[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>23</td>
                                    <td>Drinking Water and Sanitation</td>
                                    <td>Samir Kumar<br />Joint Secretary</td>
                                    <td></td>
                                    <td>01124366528    <br />samirkumar[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>24</td>
                                    <td>Earth Sciences</td>
                                    <td>Archna Srivastava<br />Deputy Secretary</td>
                                    <td></td>
                                    <td>01124669544    <br />archna.63[at]gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>25</td>
                                    <td>Economic Affairs</td>
                                    <td>Ms. Manisha Sinha<br />Addl. Secretary Admin</td>
                                    <td></td>
                                    <td>01123095033    <br />manisha.sinha[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>26</td>
                                    <td>Electronics &amp; Information Technology</td>
                                    <td>Shri Sushil Pal<br />Joint Secretary</td>
                                    <td></td>
                                    <td>01124363071    <br />spal.1999[at]meity.gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>27</td>
                                    <td>Empowerment of Persons with Disabilities</td>
                                    <td>Meena Kumari Sharma<br />Deputy Secretary</td>
                                    <td></td>
                                    <td>01124369023    <br />cpgram.depwd[at]gmail[dot]com</td>
                                </tr>
                                <tr>
                                    <td>28</td>
                                    <td>Environment, Forest and Climate Change</td>
                                    <td>Smt. Raja sree Ray<br />Economic Advisor</td>
                                    <td></td>
                                    <td>01120819197    <br />rajasree.r[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>29</td>
                                    <td>Ex Servicemen Welfare</td>
                                    <td>Shri Sarvjit Singh<br />Deputy Secretary</td>
                                    <td></td>
                                    <td>01123010244    <br />ds-pg[at]desw.gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>30</td>
                                    <td>Expenditure</td>
                                    <td>Ms. Divya A.B.<br />Director Admin.</td>
                                    <td></td>
                                    <td>01123092604    <br />divya.ab[at]gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>31</td>
                                    <td>External Affairs</td>
                                    <td>SHRI T. ARMSTRONG CHANGSAN<br />Joint Secretary PSP and CPO</td>
                                    <td></td>
                                    <td>01123387013    <br />jscpo[at]mea.gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>32</td>
                                    <td>Fertilizers</td>
                                    <td>Ujjwal Kumar<br />DS  Coordination</td>
                                    <td></td>
                                    <td>01123388536    <br />ujjwal.l[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>33</td>
                                    <td>Financial Services (Banking Division)</td>
                                    <td>SHRI SURENDER SINGH<br />DEPUTY SECRETARY</td>
                                    <td></td>
                                    <td>01123346785    <br />sobo3-dfs[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>34</td>
                                    <td>Financial Services (Insurance Division)</td>
                                    <td>Sh Surender Singh<br />DEPUTY SECRETARY</td>
                                    <td></td>
                                    <td>01123346785    <br />sobo3-dfs[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>35</td>
                                    <td>Financial Services (Pension Reforms)</td>
                                    <td>Pankaj Kumar Sharma<br />Joint Secretary</td>
                                    <td></td>
                                    <td>01123344052    <br />jsvig-dfs[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>36</td>
                                    <td>Fisheries</td>
                                    <td>Sushil Kumar Jha<br />Deputy Secretary</td>
                                    <td></td>
                                    <td>01123301338    <br />sk.jha65[at]gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>37</td>
                                    <td>Food and Public Distribution</td>
                                    <td>Ms. Nandita Gupta<br />Joint Secretary Storage and PG</td>
                                    <td></td>
                                    <td>01123384308    <br />jsstg.fpd[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>38</td>
                                    <td>Food Processing Industries</td>
                                    <td>Shri Ashok Kumar<br />Jt. Secretary</td>
                                    <td>Room No. 216 Panchsheel Bhawan, August Kranti Marg, New Delhi  </td>
                                    <td>01126492248    <br />ashok.kr61[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>39</td>
                                    <td>Health &amp; Family Welfare</td>
                                    <td>Shri Alok Saxena<br />Additional Secretary</td>
                                    <td></td>
                                    <td>01123325343    <br />js[at]naco.gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>40</td>
                                    <td>Health Research</td>
                                    <td>Shri Mohan Lal<br />Deputy Secretary</td>
                                    <td></td>
                                    <td>01123736085    <br />mohan.lal15[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>41</td>
                                    <td>Heavy Industry</td>
                                    <td>Shri Vijay Mittal<br />Joint Secretary</td>
                                    <td></td>
                                    <td>01123061858    <br />vijay.mittal[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>42</td>
                                    <td>Higher Education</td>
                                    <td>Sh. Bherav Dutt<br />DS</td>
                                    <td>Room No. 6,West Block 1,wing 6, R K Puram, 2nd Flo or,D/o Higher Education,Ministry of Education, New  Delhi</td>
                                    <td>01123388608    <br />bherav.dutt[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>43</td>
                                    <td>Home Affairs</td>
                                    <td>S. M. I. Tanvir<br />DDG Co-ord.II</td>
                                    <td></td>
                                    <td>01123438061    <br />dircoord-mha[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>44</td>
                                    <td>Housing and Urban Affairs</td>
                                    <td>Shri PANKAJ KUMAR SINGH<br />JS</td>
                                    <td></td>
                                    <td>01123062826    <br />pankajksingh[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>45</td>
                                    <td>Information and Broadcasting</td>
                                    <td>C. Senthil Rajan<br />Joint Secretary</td>
                                    <td></td>
                                    <td>01123382597    <br />jsb2-moib[at]gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>46</td>
                                    <td>Investment &amp; Public Asset Management</td>
                                    <td>Shri Shailendra Kumar<br />Joint Secretary</td>
                                    <td></td>
                                    <td>01124364021    <br />shailendra.k[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>47</td>
                                    <td>Justice</td>
                                    <td>Shri Niraj Kumar Gayagi<br />Joint  Secretary</td>
                                    <td></td>
                                    <td>01123385020    <br />jsst-doj[at]gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>48</td>
                                    <td>Labour and Employment</td>
                                    <td>Shri V.Srikanth<br />Director and Nodal PGO</td>
                                    <td></td>
                                    <td>01123719054    <br />dirpg-mole[at]gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>49</td>
                                    <td>Land Resources</td>
                                    <td>Karam Chand<br />Director</td>
                                    <td></td>
                                    <td>01123063160    <br />karamchand[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>50</td>
                                    <td>Legal Affairs</td>
                                    <td>U.N. Mishra<br />Public Grievanc</td>
                                    <td>4th Floor, A-Wing, Shastri Bhawan, Dr. Rajendra Pr asad Rd. New Delhi  </td>
                                    <td>01123387168    <br />upendramishra-cwc[at]gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>51</td>
                                    <td>Legislative Department</td>
                                    <td>Shri  Uttam Prakash<br />Deputy Secretary</td>
                                    <td></td>
                                    <td>01123389014    <br />admin1ld[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>52</td>
                                    <td>Micro Small and Medium  Enterprises</td>
                                    <td>Mr. Deepak Narang<br />Deputy Secretary</td>
                                    <td></td>
                                    <td>01123062745    <br />deepak.narang[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>53</td>
                                    <td>Military Affairs</td>
                                    <td>Colonel Ajaypal Singh<br />Director Coord Div</td>
                                    <td></td>
                                    <td>01123013416    <br />ajaysingh.553y[at]gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>54</td>
                                    <td>Mines</td>
                                    <td>Shri Yogesh R. Patel<br />Under Secretary</td>
                                    <td></td>
                                    <td>01123383946    <br />yogesh.patel77[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>55</td>
                                    <td>Minority Affairs</td>
                                    <td>Pawan Kumar<br />Director</td>
                                    <td></td>
                                    <td>01124360880    <br />pawankumar[at]ord.gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>56</td>
                                    <td>New and Renewable Energy</td>
                                    <td>Mr. Anurag Sharma<br />Dy. Secretary</td>
                                    <td></td>
                                    <td>243607071027   <br />anurag.sh[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>57</td>
                                    <td>NITI Aayog</td>
                                    <td>VINOD KUMAR<br />DS</td>
                                    <td></td>
                                    <td>01123042475    <br />vinod.kumar[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>58</td>
                                    <td>O/o the Comptroller &amp; Auditor General of India</td>
                                    <td>AC N<br />Asstt. C. &amp;amp; A. G. N</td>
                                    <td>9, Deen Dayal Upadhayaya Marg, New Delhi  </td>
                                    <td>               <br />acn[at]cag.gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>59</td>
                                    <td>Official Language</td>
                                    <td>Dr. Meenakshi Jolly<br />Joint Secretary</td>
                                    <td></td>
                                    <td>01123438130    <br />jsol[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>60</td>
                                    <td>Panchayati Raj</td>
                                    <td>Smt. Malti Rawat<br />Deputy Secretary</td>
                                    <td></td>
                                    <td>01123725302    <br />malti.rawat[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>61</td>
                                    <td>Parliamentary Affairs</td>
                                    <td>Smt. Suman Suchita Bara<br />Director</td>
                                    <td></td>
                                    <td>01123034844    <br />ss.bara[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>62</td>
                                    <td>Pensions and Pensioners Welfare</td>
                                    <td>Sh. Naresh Bhardwaj<br />Deputy Secretary</td>
                                    <td></td>
                                    <td>01123350012    <br />naresh.bhardwaj[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>63</td>
                                    <td>Personnel and Training</td>
                                    <td>Shri Juglal Singh<br />Director</td>
                                    <td></td>
                                    <td>01123092338    <br />juglal.singh[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>64</td>
                                    <td>Petroleum and Natural Gas</td>
                                    <td>Shyam Singh Mahar<br />Director</td>
                                    <td></td>
                                    <td>01123387936    <br />mahar.shyam[at]gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>65</td>
                                    <td>Pharmaceutical</td>
                                    <td>Parveen Kumar<br />Deputy Secretary</td>
                                    <td></td>
                                    <td>01123327718    <br />parveen.19[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>66</td>
                                    <td>Posts</td>
                                    <td>Shri Rupesh Pal<br />ADG PG</td>
                                    <td></td>
                                    <td>01123096087    <br />ddgpgq[at]indiapost.gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>67</td>
                                    <td>Power</td>
                                    <td>SHRI  ARUN KUMAR GARG<br />Director</td>
                                    <td></td>
                                    <td>01123352913    <br />arunkg512-cgo[at]gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>68</td>
                                    <td>Promotion of Industry and Internal Trade</td>
                                    <td>Narender Kumar<br />Director</td>
                                    <td></td>
                                    <td>01123063449    <br />narender.kumar24[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>69</td>
                                    <td>Public Enterprises</td>
                                    <td>Muni Ram Meena<br />Deputy Secretary</td>
                                    <td></td>
                                    <td>01124365841    <br />ds-admn-dpe[at]gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>70</td>
                                    <td>Railways, ( Railway Board)</td>
                                    <td>SHRI VIVEK SRIVASTAVA<br />EXECUTIVE DIRECTOR PG</td>
                                    <td>ROOM NO. 507A RAIL BHAVAN RAISINA ROAD NEW DELHI</td>
                                    <td>23386203       <br />edpg[at]rb.railnet.gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>71</td>
                                    <td>Revenue</td>
                                    <td>Shri Amit Gunvant Bhole<br />Deputy Secretary Coord</td>
                                    <td></td>
                                    <td>01123099301    <br />amit.bhole[at]gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>72</td>
                                    <td>Road Transport and Highways</td>
                                    <td>Shri Kamlesh Chaturvedi<br />Joint Secretary</td>
                                    <td></td>
                                    <td>01123753991    <br />k.chaturvedi[at]gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>73</td>
                                    <td>Rural Development</td>
                                    <td>Shri R.K. Singh<br />Deputy Secretary</td>
                                    <td></td>
                                    <td>01124648604    <br />singh.rk[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>74</td>
                                    <td>School Education and Literacy</td>
                                    <td>Shri Sankha Roy<br />Deputy Secretary</td>
                                    <td>Room No. 105 D Wing, Department of School Educatio n and Literacy,  Ministry of Human Resource Develo pment,Shastri Bhawan New Delhi</td>
                                    <td>01123385489    <br />sankha.roy[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>75</td>
                                    <td>Science and Technology</td>
                                    <td>Shri Pulok Sen Gupta<br />Under Secretary PG</td>
                                    <td></td>
                                    <td>01126590606    <br />puloksen.gupta71[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>76</td>
                                    <td>Scientific &amp; Industrial Research</td>
                                    <td>Shri Surinderpal Singh<br />Joint Secretary Admn.</td>
                                    <td></td>
                                    <td>01126590257    <br />surinder.singh66[at]gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>77</td>
                                    <td>Shipping</td>
                                    <td>Shri P. Bali<br />Dy.CCC</td>
                                    <td></td>
                                    <td>01123318127    <br />p.bali[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>78</td>
                                    <td>Skill Development and Entrepreneurship</td>
                                    <td>Shri Promode K Singh<br />Deputy Secretary</td>
                                    <td></td>
                                    <td>01123465920    <br />promode.singh[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>79</td>
                                    <td>Social Justice and Empowerment</td>
                                    <td>Sh Prabhudas Xalxo<br />Deputy Secretary  PG</td>
                                    <td></td>
                                    <td>01123386472    <br />prabhudas.xalxo[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>80</td>
                                    <td>Space</td>
                                    <td>Hariharan K<br />Deputy Secretary</td>
                                    <td></td>
                                    <td>08022172402    <br />pgdos[at]isro.gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>81</td>
                                    <td>Sports</td>
                                    <td>Arun Kumar Yadav<br />Director</td>
                                    <td></td>
                                    <td>01123384408    <br />dir.sports-moyas[at]gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>82</td>
                                    <td>Statistics and Programme Implementation</td>
                                    <td>Shri Sunil Kumar<br />Deputy Secretary</td>
                                    <td></td>
                                    <td>01123455212    <br />sunil.kr01[at]gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>83</td>
                                    <td>Steel</td>
                                    <td>Shri Amit Pankaj<br />Deputy Secretary</td>
                                    <td></td>
                                    <td>01123062873    <br />amit.pankaj03[at]gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>84</td>
                                    <td>Telecommunications</td>
                                    <td>Shri Pankaj Kumar<br />Deputy Director General PG</td>
                                    <td>Room No.612,6th Floor Mahanagar Doorsanchar Bhawan  Near Zakir Hussain College Old Minto Road New Del hi</td>
                                    <td>01123221231    <br />ddgpg-dot[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>85</td>
                                    <td>Textiles</td>
                                    <td>Shri Anil Kumar<br />Deputy Secretary</td>
                                    <td></td>
                                    <td>01123063728    <br />ds-textiles[at]gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>86</td>
                                    <td>Tourism</td>
                                    <td>Niraj Sharan<br />Assistant Director General</td>
                                    <td>R.No. 23, C-1 Hutments Dalhousie Road New Delhi</td>
                                    <td>01123012805    <br />neeraj.sharan[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>87</td>
                                    <td>Tribal Affairs</td>
                                    <td>Athira S. Babu<br />Director</td>
                                    <td></td>
                                    <td>01123340272    <br />athira.babu[at]gov[dot]in</td>
                                </tr>
                                <tr>
                                    <td>88</td>
                                    <td>Unique Identification Authority of India</td>
                                    <td>Sh. Pankaj Khurana<br />Deputy Director</td>
                                    <td>Unique Identification Authority of India, HQ 6th F loor, Bangla Sahib Road Behind Kali Mandir, New De lhi</td>
                                    <td>01123478459    <br />pankaj.khurana[at]uidai.net[dot]in</td>
                                </tr>
                                <tr>
                                    <td>89</td>
                                    <td>Water Resources, River Development &amp; Ganga Rejuvenuation,</td>
                                    <td>A C Mallick<br />Deputy Secretary</td>
                                    <td></td>
                                    <td>01123074005    <br />dircoord-mowr[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>90</td>
                                    <td>Women and Child Development</td>
                                    <td>Shri Sukh Lal  Meena<br />Deputy Secretar</td>
                                    <td>Room nO. 641, 6th Floor, A Wing Shastri Bhawan New Delhi  </td>
                                    <td>01123380547    <br />meena.sukh[at]nic[dot]in</td>
                                </tr>
                                <tr>
                                    <td>91</td>
                                    <td>Youth Affairs</td>
                                    <td>SUNDER SINGH<br />DEPUTY SECRETARY</td>
                                    <td></td>
                                    <td>01123386049    <br />sunder.singh45[at]nic[dot]in</td>
                                </tr>
                            </tbody>
                        </table>
</body>
</html>