<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Neel Aayush</title>
  <link href="css/thanks.css" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" type="image/x-icon" href="assets/logo.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="thanks">
   <h1>Your complaint have been submitted successfully!</h1>
    <p>Your ticket number is <span><a href="#">123456</a></span></p>
  </div>
</body>
</html>