<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link href="{% static 'styles/styles.css' %}" rel="stylesheet" type="text/css"/>
  <link href="{% static 'styles/profile.css' %}" rel="stylesheet" type="text/css"/>
  <link rel="shortcut icon" type="image/x-icon" href="assets/logo.png">
</head>
<body>
    
 <!-- Main -->
    <div class="main">
        <div class="card">
            <div class="card-body">
                <form>
                   <h3>Identity</h3>
                  <div>
                    <label for="name">Username:</label>
                    <input id="name" name="Aayush123">
                  </div>
                   <div>
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="Name">
                  </div>
                  <div>
                    <label for="name">Sector:</label>
                    <select>
                      <option>Private</option>
                      <option>Public</option>
                    </select>
                  </div>
                  <div>
                    <label for="name">State:</label>
                    <select>
                      <option>Andhra Pradesh</option>
                      <option>Arunachal Pradesh</option>
                      <option>Assam</option>
                      <option>Bihar</option>
                      <option>Chhattisgarh</option>
                      <option>Goa</option>
                      <option>Gujarat</option>
                      <option>Haryana</option>
                      <option>Himachal Pradesh</option>
                      <option>Jharkhand</option>
                      <option>Karnataka</option>
                      <option>Kerala</option>
                      <option>Madhya Pradesh</option>
                      <option>Maharashtra</option>
                      <option>Manipur</option>
                      <option>Meghalaya</option>
                      <option>Mizoram</option>
                      <option>Nagaland</option>
                      <option>Odisha</option>
                      <option>Punjab</option>
                      <option>Rajasthan</option>
                      <option>Sikkim</option>
                      <option>Tamil Nadu</option>
                      <option>Telangana</option>
                      <option>Tripura</option>
                      <option>Uttar Pradesh</option>
                      <option>Uttarakhand</option>
                      <option>West Bengal</option>
                    </select>
                  </div>
                  <div>
                    <label>Address:</label>
                    <textarea></textarea>
                  </div>
                  <div>
                    <label>Email:</label>
                    <input type="email">
                  </div>
                  <div>
                    <label>Aadhar:</label>
                    <input type="file" id="myFile" name="filename">
                  </div>
                  <div>
                    <label>Pan</label>
                    <input type="file" id="myFile" name="filename">
                  </div>
                <h3>Company Details</h3>
                  <div>
                    <label>Company Name:</label>
                    <input type="text"  name="cname">
                  </div>
                  <div>
                    <label>Position:</label>
                    <input type="text">
                  </div>
                  <div>
                    <label for="name">State:</label>
                    <select>
                      <option>Andhra Pradesh</option>
                      <option>Arunachal Pradesh</option>
                      <option>Assam</option>
                      <option>Bihar</option>
                      <option>Chhattisgarh</option>
                      <option>Goa</option>
                      <option>Gujarat</option>
                      <option>Haryana</option>
                      <option>Himachal Pradesh</option>
                      <option>Jharkhand</option>
                      <option>Karnataka</option>
                      <option>Kerala</option>
                      <option>Madhya Pradesh</option>
                      <option>Maharashtra</option>
                      <option>Manipur</option>
                      <option>Meghalaya</option>
                      <option>Mizoram</option>
                      <option>Nagaland</option>
                      <option>Odisha</option>
                      <option>Punjab</option>
                      <option>Rajasthan</option>
                      <option>Sikkim</option>
                      <option>Tamil Nadu</option>
                      <option>Telangana</option>
                      <option>Tripura</option>
                      <option>Uttar Pradesh</option>
                      <option>Uttarakhand</option>
                      <option>West Bengal</option>
                    </select>
                  </div>
                  <div>
                    <label>Address:</label>
                    <textarea></textarea>
                  </div>
                  <div>
                    <label>Company size:</label>
                    <input type="text">
                  </div>
                  <div>
                    <label>Company emp id:</label>
                    <input type="text">
                  </div>
                  <a href="#"><button>Save</button></a>
                  <a href="#"><button>Cancel</button></a>
                </form>
                </table>
            </div>
        </div>
    </div>
</body>
   <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  

</html>

